:host {
  background: url('../../assets/images/home-background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;  /* Asegúrate de que ocupe toda la altura de la pantalla */
  width: 100%;    /* Asegúrate de que ocupe todo el ancho */
  display: block; /* Para evitar que el contenido se "corte" */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;     
    height: 100vh;           
    text-align: center;
    size: 100px;
  }
  
  .container img {
    max-width: 100%;
    height: auto; 
    margin-bottom: 20px; 
  }
  
  .container > h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    font-size: 2.5rem;   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-top: 10px;
  }
  .container > button{
    margin-top: 150PX;
  }
  
  audio {
    display: none;
  }
  
  .btn-pokemon {
    background-color: #ffcc00; 
    color: #fff; 
    font-size: 1.5rem; 
    font-family: 'Roboto', sans-serif;
    border: none; 
    border-radius: 50px; 
    padding: 15px 30px; 
    cursor: pointer; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: all 0.3s ease; 
    letter-spacing: 2px;
  }
  
  .btn-pokemon:hover {
    background-color: #ff9900; 
    transform: scale(1.1); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }
  
  .pokeball-btn {
    width: 50px; 
    margin-top: 10px;
    margin-right: 15px;
    transition: all 0.3s ease;
  }
  
  /* Efecto al pasar el mouse sobre la imagen */
  .btn-pokemon:hover .pokeball-btn {
    transform: rotate(360deg); 
  }
  
  
  @media (max-width: 768px) {
    .container {
        padding: 10px;
    }
  
    .container > h1 {
        font-size: 2rem; 
    }
  
    .container img {
        max-width: 80%; 
    }
  
    .btn-pokemon {
      font-size: 1.2rem; 
      padding: 12px 24px;
  }
  
  .pokeball-btn {
      width: 25px;
  }
  }
  
  @media (max-width: 480px) {
    .container {
        padding: 5px;
    }
  
    .container > h1 {
        font-size: 1.5rem;
    }
  
    .container img {
        max-width: 70%; 
    }
  
    .btn-pokemon {
      font-size: 1rem; 
      padding: 10px 20px;
  }
  .pokeball-btn {
      width: 20px; 
  }
  
  }