@font-face {
  font-family: 'PokemonBW';
  src: url('../../assets/pokemon-gb-font/PokemonGb-RAeo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu-btn {
  all: unset; 
  background-image: url('../../assets/images/pokemon_arrow.png');
  background-size: contain; 
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  
}

.arrow {
  all: unset;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  width: 90%;
  max-width: 800px;
  background-color: #333333 ;
  padding: 20px;
  border-radius: 25px;
  box-sizing: border-box;
  margin-top: 15px
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.nav-button {
  all: unset;
  cursor: pointer;
  background-color: #36B7CD;
  width: 80px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.title-container {
  border: 5px solid #0086e5; 
  border-radius: 15px;
  padding: 2px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  max-width: 200px;
}

.title {
  background-color: #a8d7f7;
  color: #000;
  text-align: center;
  padding: 8px;
  font-size: 24px;
  border-radius: 8px;
  width: 100%;
}

.spacer {
  flex-grow: 1;
}

.nav-button img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  }

.grid {
  display: grid;
  background-image: url('../../assets/images/caja.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
}

.tipo-font {
  font-family: 'PokemonBW', sans-serif; 
  font-size: 28px; 
}

.cell {
  aspect-ratio: 1/1;
  min-height: 40px;
}

.cell img{
  margin-top: 20px;
margin-left: 8px;
}

