<!-- Botón de menú -->
<div class="menu-button">
  <button class="menu-btn tipo-font" (click)="VolverMenu()"></button>
</div>

<div class="container" *ngIf="!cargando && pokemon">
  <!-- Navbar -->
  <div class="navigation-bar">
    <div class="nav-button">
      <button 
        class="arrow arrow-left" 
        [ngClass]="{ 'click-animation': animando }"
        (click)="cambiarPagina(pagina - 1)" 
        [disabled]="pagina === 1"
      >
        <img src="../../assets/images/left.png" alt="Prev">
      </button>
    </div>
    
    <div class="spacer"></div>
    
    <div class="title-container">
      <div class="title tipo-font"> BOX {{ pagina }}</div>
    </div>
    
    <div class="spacer"></div>
    
    <div class="nav-button">
      <button 
        class="arrow arrow-right" 
        (click)="cambiarPagina(pagina + 1)" 
        [disabled]="pagina * limit >= totalPokemones"
      >
        <img src="../../assets/images/right.png" alt="Next">
      </button>
    </div>
  </div>

  <!-- Pokemon  -->
  <div class="grid">
    <div 
      class="cell" 
      *ngFor="let poke of pokemon" 
      (click)="verDetalles(poke)"
    >
      <img 
        [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + obtenerIdDesdeUrl(poke) + '.png'" 
        [alt]="poke.name"
        class="poke-img"
      >
    </div>
  </div>
</div>